Source: ros-lyrical-open3d-vendor
Section: misc
Priority: optional
Maintainer: Christian Rauch <Christian.Rauch@unileoben.ac.at>
Build-Depends: debhelper (>= 9.0.0), cmake, libc++-dev, libgl1-mesa-dev, libglu1-mesa-dev, libx11-dev, ros-lyrical-ros-workspace
Homepage: https://www.open3d.org
Standards-Version: 3.9.2

Package: ros-lyrical-open3d-vendor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libc++-dev, libgl1-mesa-dev, libglu1-mesa-dev, libx11-dev, ros-lyrical-ros-workspace
Description: Open3D is an open-source library that supports rapid development of software that deals with 3D data.
